body,html {
  margin:0;
  font-family: "Helvetica Neue", HelveticaNeue, Helvetica, TeXGyreHeros, FreeSans, "Nimbus Sans L", "Liberation Sans", Arial, sans-serif;
}

a{
  text-decoration: none;
  margin:5px;
}

a:active, a:visited {
  color:inherit;
}

.images{
  box-shadow: 5px 5px 20px rgba(0,0,0,0.7);
  width:100%;
}

.images.large{
  display: none;
}

.gallery-image{
  display: inline;
  position: relative;
  width: calc(50% - 20px);
  margin-top:10px;
  i{
    position:absolute;
    top:10px;
    left:5px;
    color:black;
    opacity:0.8;
    cursor:pointer;
    transition: opacity 0.2s linear;
    z-index: 1000;
  }

  i:hover{
    opacity:1;
  }
}

#container{
  display:flex;
  flex-direction: row;
  width:100%;
  position: absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
  overflow: hidden;
}

#gallery{
  flex:2;
  position: relative;
}

#selection{
  max-width: calc(100% - 20px);
  // box-shadow: 5px 5px 20px rgba(0,0,0,0.7);
  position: absolute;
  top:10px;
  left:10px;
  right:10px;
  bottom:10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  -webkit-filter: drop-shadow( 5px 5px 5px rgba(0,0,0,0.7) );
   filter: drop-shadow( 5px 5px 5px rgba(0,0,0,0.7) );
}

#logo{
  opacity: 0.3;
  position: absolute;
  left:15px;
  top:20px;
  width: 60px;
  z-index: 1000;
  transition: opacity 0.2s linear;
}

#logo:hover{
  opacity:0.9
}

#gallery-selector{
  flex:1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  overflow-y: auto;
  padding-bottom:20px;
  position: relative;
}

.hide{
  opacity:0;
}
#info{
  background-color: rgba(0,0,0,0.9);
  color:white;
  padding:5px;
  height:40px;
  position: absolute;
  bottom:10px;
  left:15px;
  display: flex;
  align-items: center;
  flex-direction: row;
  transition:opacity 0.4s linear;
  z-index: 1000;

  .title{
    font-style: italic;
  }

  *{
    margin-right: 10px;
  }

  img{
    height:30px;
    border-radius: 50%;
  }
}

.loading{
  display: inline-block;
  background-color:rgb(0,0,0);
  width: calc(100% - 20px);
  height: 300px;
}


@media(max-width:1024px){
    #gallery{
      display: none;
    }

    #gallery-selector{
      overflow-y: scroll; /* has to be scroll, not auto */
      -webkit-overflow-scrolling: touch;
    }

    .loading{
      width:80vw;
    }

    .gallery-image {
      display: table;
      width: auto;
      max-width: calc(100% - 20px);
      max-height: calc(100vh - 20px);


      .images{
        max-height:calc(100vh - 20px);
        width:auto;
        max-width: calc(100% - 20px);
      }

      i{
        right:30px;
        left:auto;
      }
    }

    .images.small{
      display: none;
    }

    .images.large{
      display: inline;
    }


}
